<div class="quizz__container">

  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" srcset="">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf="!started && !finished && !restarted" class="quizz_start">

    <img src="assets/imgs/captain-america-civil-war.jpg" alt="">
    <button 
      (click)="start()"
      class="btn-start"
    > 
      <i class="fa-regular fa-circle-play">
        <span>Iniciar</span>
      </i>
    </button>

  </div>

  <div *ngIf="(!finished && started) || (!finished && restarted)" class="quizz_questions">
      <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf="(!finished && started) || (!finished && restarted)" class="quizz_options">

    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.alias)"
      class="btn-option"
    > 
      {{option.name}}
    </button>

  </div>

  <div *ngIf="finished && started && !restarted" class="quizz_results">
    <div class="quizz_results_card">
      <p>Seu resultado é:</p>
      <h1>{{answerSelected}}</h1>
      <img src="assets/imgs/{{finalAnswer}}.png" alt="">
    </div>   

    <button 
      (click)="restart()"
      class="btn-restart"
    > 
      
      <i class="fa-solid fa-arrows-rotate">
        <span>Refazer</span>
      </i>
    </button>
  </div>
</div>
